<header>
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between">
        <div>
          <a href="{{url('/')}}" class="logo">
            <img src="{{asset('assets/images/logo.png')}}" alt="LOGO">
          </a>
        </div>
        <div>
          <ul class="hddList transition">

            

          </ul>
        </div>
        <div>
          <div class="hdddrop">
            <div class="_img">
            </div>
            <span class="_nm">
             
            </span>
            <em class="caret">
              <img src="/assets/images/cater.png" alt="image">
            </em>
            <div class="dropContent">
              <ul class="main-m">

               
              </ul>
            </div>
          </div>
          <div class="toggle_bar" onclick="myFunction(this)">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
        </div>
      </div>
    </div>
  </header>
