<%- include('master') %>

<main id="main" class=" bg-dark">
    <div id="login-left">
    </div>

    <div id="login-right">
        <div class="card col-md-8">
            <div class="card-body">
                
                <form method="POST" action="/admin/custom-login">
       
                    <div class="form-group">
                        <label for="username" class="control-label">Username</label>
                        <input type="text" id="email" name="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" id="password" name="password" class="form-control">
                         
                    </div>
                    <center><button class="btn-sm btn-block btn-wave col-md-4 btn-primary">Login</button></center>
                </form>
            </div>
        </div>
    </div>


</main>

<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<%- include('footer') %>

